password/
server.properties

# plugins

plugins/**/*.db
plugins/**/*.jar
plugins/**/*.json
plugins/**/*.bin

## Essentials
plugins/Essentials/messages/
plugins/Essentials/userdata/
plugins/Essentials/userdata-npc-backup/
plugins/Essentials/wraps/
plugins/Essentials/custom_items.yml
plugins/Essentials/*.txt

## LuckPerms
plugins/LuckPerms/libs/
plugins/LuckPerms/translations/


