*

!whitelist.json
!ops.json

## AutoBackup
!plugins/AutoBackup/config.yml

## Bluemap
!plugins/Bluemap/plugin.conf
!plugins/Bluemap/maps

## CoreProtect
!plugins/CoreProtect/config.yml

## Essentials
!plugins/Essentials/config.yml
!plugins/Essentials/kits.yml
!plugins/Essentials/tpr.yml
!plugins/Essentials/upgrades-done.yml
!plugins/Essentials/worth.yml

## LuckPerms
!plugins/LuckPerms/config.yml

## Maintanance
!plugins/Maintenance/*

## Plan
!plugins/Plan/config.yml

## VeinMiner
!plugins/VeinMiner/categories.yml
!plugins/VeinMiner/config.yml
